@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* COMPARTIDO */
/* NAVBAR */
.mh-50 {
  height: 5rem;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

button {
  margin: 10px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}
.btn-3 {
  background: rgba(245, 212, 186, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 216, 164, 0) 0%,
    rgba(228, 152, 11, 0) 100%
  );
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgb(255, 255, 255);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

/* FOOTER */

#footer {
  background-color: rgb(49, 49, 49);
  color: white;
  font-family: "Quicksand", sans-serif;
}

/* PAGE HOME - WELCOME */
.bg-image {
  background-size: cover;
  background-position: center;
}

#michi-texto {
  font-family: "Amatic SC", cursive;
  font-size: 140px;
  text-align: center;
  padding-top: 20%;
  text-shadow: black;
  color: white;
}

/* PAGE HOME - CONTAINER CARTA */

.refcarta .btn {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 25px;
}

.refcarta {
  background-color: rgb(255, 255, 255);
  background-image: url(../img/bg-refmenu.png);
  background-size: cover;
  background-position: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: rgb(73, 73, 73);
}

.text-anfitriones {
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif;
}

/* PAGE HOME - CONTAINER MICHIS */
#anfitriones .card-body {
  background-color: black;
}
#anfitriones .card-title {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}

#btn-conocelos {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: white;
}

#anfitriones {
  background-color: rgb(13, 14, 17);
  background-image: url(../img/bg-refmichis.png);
  background-size: cover;
}

/* PAGE HOME - CONTAINER CONTACTO */
#refcontact {
  background-image: url(../img/bg-refcontact.png);
  background-size: cover;
  background-position: center;
}

#text-refcontact {
  padding-top: 10%;
  padding-bottom: 10%;
  color: rgb(174, 175, 175);
  font-family: "Quicksand", sans-serif;
}

#text-refcontact .btn {
  color: white;
}

.img-refmenu {
  width: 100%;
}

/* PAGE HOME - SOCIAL MEDIA*/

#social {
  background-image: url(../img/bg-social.png);
  background-size: cover;
}
#social-text {
  font-size: 50px;
  font-family: "Amatic SC", cursive;
  padding-bottom: 10px;
}

.bi-instagram {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 10px;
}

.bi-facebook {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 10px;
}

.bi-twitter {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 5px;
}

.img-social {
  width: 50vh;
}

/* PAGE CARTA */

.text-carta {
  background-image: url(../img/banner-carta.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;

  background-position: center;
  text-align: center;
  padding-top: 10%;
}

.text-carta h1 {
  font-family: "Amatic SC", cursive;
  color: white;
  text-shadow: black;
  font-size: 70px;
}

.carta {
  background-image: url(../img/bg-menu.png);
  background-size: contain;
  background-position: top;
  background-color: #ffffff;
}

.img-carta {
  width: 100%;
}

/* PAGE GALERÍA */

.text-galeria {
  background-image: url(../img/banner-galeria.jfif);
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10%;
}

.text-galeria h1 {
  font-family: "Amatic SC", cursive;
  color: white;
  text-shadow: black;
  font-size: 70px;
}

#galeria img {
  width: 100%;
  height: 400px;
}
#galeria .col-lg-4 {
  padding: 25px;
  margin: 0 !important;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
}

.gifgaleria {
  text-align: center;
}

.texto-gif {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  text-align: center;
  color: rgb(202, 137, 99);
  text-shadow: black;
  width: 50%;
}
/* PAGE MICHIS */

.text-michis {
  background-image: url(../img/banner-michis.jfif);
  height: 500px;
  background-size: cover;

  background-position: center;
  text-align: center;
  padding-top: 10%;
}

.text-michis h1 {
  font-family: "Amatic SC", cursive;
  color: white;
  text-shadow: black;
  font-size: 70px;
}

.michicards .swiper {
  width: 100%;
  height: 100%;
}

.michicards .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}

.michicard {
  background-image: url(../img/bg-cards-michis.png);
  background-size: contain;
}

.michicard .michicard-title {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 40px;
}

.michicard .michicard-text {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.michicards .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 

.sucursales h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: rgb(247, 165, 236);
}

/* PAGE CONTACTO */

.text-contacto {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/banner-contacto.jpeg");
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10%;
}

.text-contacto h1 {
  font-family: "Amatic SC", cursive;
  color: white;
  text-shadow: black;
  font-size: 70px;
}

#formulario {
  background-image: url(../img/bg-form.png);
  background-size: cover;
  background-color: rgb(241, 236, 225);
  height: 1000px;
}

.container-form {
  padding-top: 10%;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: #ffffff;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: rgb(235, 165, 229);
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(233, 166, 241);
  color: rgb(0, 0, 0);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: rgb(232, 215, 250);
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

/* MEDIA QUERIES */

@media screen and (max-width: 576px) {
  #michi-texto {
    font-size: 50px;
    padding-top: 70%;
  }
  .mh-50 {
    height: 80px;
  }

  .refcarta .refcarta-text {
    font-size: 20px;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.082);
  }

  #social-text {
    font-size: 40px;
  }

  .img-social {
    max-width: 100%;
  }

  .text-michis h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .text-contacto h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .text-galeria h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .text-carta h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .img-carta {
    width: 100%;
    margin-left: 0;
  } 
  .gifgaleria img {
    width: 90%;
  }
  .gifgaleria .texto-gif {
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 2rem;
  } 
}
