@import "./partials/variables";
@import "./partials/compartido";
@import "./partials/home";
@import "./partials/carta";
@import "./partials/galeria";
@import "./partials/nuestrosmichis";
@import "./partials/contacto";
@import "./partials/media";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

@font-face {
    font-family: "Glacial Indifference" ;
    src: url(../fuentes/GlacialIndifference-Regular.otf);
  }
  
  @font-face {
    font-family: "Veneer";
    src: url(../fuentes/Veneer.ttf);
  }