@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.navbar .logo {
  height: 5rem;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fcf4e9;
  padding: 10px 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: rgba(245, 212, 186, 0);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 216, 164, 0)), to(rgba(228, 152, 11, 0)));
  background: linear-gradient(0deg, rgba(255, 216, 164, 0) 0%, rgba(228, 152, 11, 0) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.custom-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.custom-btn:before,
.custom-btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #b1e8e5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-btn:before {
  height: 0%;
  width: 2px;
}

.custom-btn:after {
  width: 0%;
  height: 2px;
}

.custom-btn:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-btn:hover:before {
  height: 100%;
}

.custom-btn:hover:after {
  width: 100%;
}

.custom-btn span:hover {
  color: white;
}

.custom-btn span:before,
.custom-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #f985e4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom-btn span:before {
  width: 2px;
  height: 0%;
}

.custom-btn span:after {
  width: 0%;
  height: 2px;
}

.custom-btn span:hover:before {
  height: 100%;
}

.custom-btn span:hover:after {
  width: 100%;
}

#footer {
  background-color: #212529;
  color: white;
  font-family: "Quicksand", sans-serif;
}

#footer .bi {
  color: #b1e8e5;
  font-size: 2rem;
  padding: 10px;
}

#footer .bi:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 8, 5, 0.4);
          box-shadow: 0px 0px 0px rgba(0, 8, 5, 0.4);
  color: #f985e4;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.banner-home {
  background-size: cover;
  background-position: center;
}

.banner-home .banner-text {
  font-family: "Veneer";
  font-size: 15vh;
  text-align: center;
  padding-top: 15%;
  text-shadow: 1px 1px 2px #5f5d5d;
  color: #fcf4e9;
}

.about {
  background-color: #f3ece0;
  background-position: right;
  background-size: cover;
}

.about .titulo h3 {
  color: #200613;
  font-family: "Glacial Indifference";
  font-weight: bold;
  font-size: 2.5rem;
}

.about .texto {
  color: #200613;
  font-family: "Glacial Indifference";
  font-size: 1.4rem;
  text-align: justify;
}

.refcarta {
  background-image: url(../img/fondocarta.png);
  background-size: cover;
  background-position: initial;
  height: 800px;
}

.refcarta .texto {
  width: 50%;
  font-family: "Glacial Indifference";
  font-size: 35px;
  color: white;
  text-align: center;
  padding: 15px;
}

.refcarta .boton .btn {
  font-size: 20px;
  font-family: "Glacial Indifference";
  font-weight: bold;
}

#anfitriones {
  background-color: #f3ece0;
  background-size: cover;
  text-align: center;
  color: #f985e4;
  font-family: "Glacial Indifference";
}

#anfitriones .btn {
  font-family: "Glacial Indifference";
  font-size: 20px;
}

.card {
  background-color: #e9f2f5;
}

.card .card-title {
  text-align: center;
  color: #b1e8e5;
  font-size: 25px;
  font-family: "Glacial Indifference";
}

#refcontact {
  background-image: url(../img/fondo-contact.png);
  background-size: cover;
  background-position: initial;
  height: 50vh;
}

#refcontact h2 {
  color: #fcf4e9;
  font-family: "Glacial Indifference";
  width: 30%;
  padding-bottom: 2%;
}

#refcontact .btn {
  font-size: 20px;
  font-family: "Glacial Indifference";
}

.banner-carta {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/banner-carta.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner-carta.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10%;
}

.banner-carta .text-carta {
  font-family: "Veneer";
  color: white;
  text-shadow: black;
  font-size: 70px;
}

.carta {
  background-color: #ffffff;
}

.carta .title {
  text-align: center;
  font-family: "Glacial Indifference";
  font-size: 40px;
  color: #f985e4;
  padding: 2%;
}

.carta .img-carta {
  width: 100%;
}

.tab-carta {
  background-color: #f3ece0;
}

.tab-carta .nav-tabs button {
  color: #f985e4;
  font-family: "Glacial Indifference";
  font-size: 20px;
}

.tab-content {
  font-family: "Glacial Indifference";
}

.tab-content h3 {
  color: #b1e8e5;
}

.tab-content p {
  color: #fcf4e9;
}

#cafeteria-tab-pane {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg-cafe.jfif);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-cafe.jfif);
  background-position: center;
  background-size: cover;
}

#te-tab-pane {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg-te.jfif);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-te.jfif);
  background-position: center;
  background-size: cover;
}

#pasteleria-tab-pane {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg-pasteleria.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-pasteleria.jpg);
  background-position: center;
  background-size: cover;
}

#bebidas-tab-pane {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg-bebidas.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-bebidas.jpg);
  background-position: center;
  background-size: cover;
}

#combos-tab-pane {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg-combos.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-combos.jpg);
  background-position: center;
  background-size: cover;
}

#gallery {
  background-color: #f3ece0;
}

.banner-galeria {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/banner-galeria.jfif);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner-galeria.jfif);
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10%;
}

.banner-galeria .text-galeria {
  font-family: "Veneer";
  color: white;
  text-shadow: black;
  font-size: 70px;
}

.gifgaleria {
  text-align: center;
}

.gifgaleria .texto-gif {
  font-family: "Glacial Indifference";
  font-size: 2rem;
  text-align: center;
  color: #f985e4;
  text-shadow: black;
  width: 75%;
}

#galeria img:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.social .bi {
  color: #e7a1c2;
  font-size: 25px;
}

.social .bi:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 8, 5, 0.4);
          box-shadow: 0px 0px 0px rgba(0, 8, 5, 0.4);
  color: #aa74a1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#michis {
  background-color: #f3ece0;
}

.banner-michis {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/banner-michis.jfif);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner-michis.jfif);
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10%;
}

.banner-michis h1 {
  font-family: "Veneer";
  color: white;
  text-shadow: black;
  font-size: 70px;
}

.sucursales h2 {
  font-family: "Glacial Indifference";
  font-weight: bold;
  color: #f985e4;
}

.michicards .swiper {
  width: 90%;
  height: 100%;
}

.michicards .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
          box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}

.michicard {
  background-image: url(../img/bg-cards-michis.png);
  background-size: contain;
}

.michicard img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.michicard .michicard-title {
  font-family: "Glacial Indifference";
  font-weight: bold;
  font-size: 20px;
}

.michicard .michicard-title .michicard-text {
  font-family: "Glacial Indifference";
  font-weight: bold;
}

:root {
  --swiper-theme-color: #b1e8e5 !important;
}

.banner-contacto {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/banner-contacto.jpeg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner-contacto.jpeg);
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10%;
}

.banner-contacto h1 {
  font-family: "Veneer";
  color: white;
  text-shadow: black;
  font-size: 70px;
}

#formulario {
  background-image: url(../img/bg-form.png);
  background-size: cover;
  background-position: center;
  background-color: #f3ece0;
  height: 1000px;
}

.container-form {
  padding-top: 10%;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: #ffffff;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #f985e4;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #f985e4;
  color: black;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #b1e8e5;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

@media screen and (max-width: 576px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.082);
  }
  .navbar .logo {
    height: 80px;
  }
  .banner-home .banner-text {
    font-size: 60px;
    padding-top: 50%;
  }
  .about .titulo h3 {
    font-size: 1.8rem;
  }
  .about .texto {
    font-size: 1.1rem;
    text-align: center;
    width: 75%;
  }
  .refcarta .texto {
    font-size: 25px;
    width: 75%;
  }
  .refcarta .boton .btn {
    font-size: 15px;
  }
  #anfitriones h2 {
    font-weight: bold;
  }
  #anfitriones .card-group .card-body .card-title {
    font-size: 15px;
  }
  #anfitriones .btn {
    font-size: 15px;
  }
  #refcontact {
    background-position: center;
  }
  #refcontact h2 {
    font-size: 20px;
    width: 50%;
  }
  #refcontact .btn {
    font-size: 15px;
  }
  .banner-michis h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .banner-contacto h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .banner-galeria .text-galeria {
    font-size: 50px;
    padding-top: 30%;
  }
  .banner-carta .text-carta {
    font-size: 50px;
    padding-top: 30%;
  }
  .img-carta {
    width: 100%;
    margin-left: 0;
  }
  .gifgaleria img {
    width: 90%;
  }
  .gifgaleria .texto-gif {
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 2rem;
  }
  .tab-carta .nav-tabs button {
    color: #f985e4;
    font-family: "Glacial Indifference";
    font-size: 15px;
  }
  .tab-content h3 {
    font-size: 15px;
    color: #b1e8e5;
  }
  .tab-content p {
    font-size: 15px;
    color: #fcf4e9;
  }
}

@font-face {
  font-family: "Glacial Indifference";
  src: url(../fuentes/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: "Veneer";
  src: url(../fuentes/Veneer.ttf);
}
/*# sourceMappingURL=main.css.map */