.banner-carta {
  @include banner(url(../img/banner-carta.jpg));
  .text-carta {
    @include bannerText;
  }
}

.carta {
  background-color: #ffffff;
  .title {
    text-align: center;
    font-family: "Glacial Indifference";
    font-size: 40px;
    color: $rosita;
    padding: 2%;
  }

  .img-carta {
    width: 100%;
  }
}
