.banner-carta {
  @include banner(url(../img/banner-carta.jpg)) ;
  .text-carta {
    @include bannerText;
  }
}

.carta {
  background-image: url(../img/bg-menu.png);
  background-size: contain;
  background-position: top;
  background-color: #ffffff;

  .img-carta {
    width: 100%;
  }
}
