.banner-galeria {
  @include banner(url(../img/banner-galeria.jfif));

  .text-galeria {
    @include bannerText;
  }
}

.gifgaleria {
  text-align: center;
  .texto-gif {
    font-family: "Amatic SC", cursive;
    font-size: 60px;
    text-align: center;
    color: rgb(202, 137, 99);
    text-shadow: black;
    width: 75%;
  }
}

#galeria {
  img {
    width: 100%;

    &:hover {
      filter: brightness(80%);
    }
  }
}

.social {
  .bi {
    color: rgb(231, 161, 194);
    font-size: 25px;
    &:hover {
      box-shadow: 0px 0px 0px rgba(0, 8, 5, 0.4);
      color: rgb(170, 116, 161);
      transform: scale(0.9);
    }
  }
}
