.banner-home {
  background-size: cover;
  background-position: center;
  h1 {
    font-family: "Amatic SC", cursive;
    font-size: 140px;
    text-align: center;
    padding-top: 20%;
    text-shadow: black;
    color: $colortexto-2;
  }
}

.refcarta {
  background-color: rgb(255, 255, 255);
  background-image: url(../img/bg-refmenu.png);
  background-size: cover;
  background-position: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  color: rgb(73, 73, 73);
  .btn {
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 25px;
    color: $colortexto-3;
  }
}

#anfitriones {
  background-color: rgb(13, 14, 17);
  background-image: url(../img/bg-refmichis.png);
  background-size: cover;
  text-align: center;
  color: $colortexto-2;
  font-family: "Quicksand", sans-serif;

  .btn {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    color: $colortexto-3;
  }
}

.card-body {
  background-color: black;

  .card-title {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Amatic SC", cursive;
  }
}

#refcontact {
  background-image: url(../img/bg-refcontact.png);
  background-size: cover;
  background-position: center;
  h2 {
    padding-top: 10%;
    padding-bottom: 10%;
    color: $colortexto-2;
    font-family: "Quicksand", sans-serif;
  }
  .btn {
    color: $colortexto-3;
    font-size: 30px;
    font-family: "Amatic SC", cursive;
  }
}

/* PAGE HOME - SOCIAL MEDIA*/

#social {
  background-image: url(../img/bg-social.png);
  background-size: cover;
  #social-text {
    font-size: 50px;
    font-family: "Amatic SC", cursive;
    padding-bottom: 10px;
  }
  .social {
    .bi-instagram {
      color: $colortexto-3;
      font-size: 2rem;
      padding: 10px;
    }

    .bi-facebook {
      color: $colortexto-3;
      font-size: 2rem;
      padding: 10px;
    }

    .bi-twitter {
      color: $colortexto-3;
      font-size: 2rem;
      padding: 5px;
    }
  }

  .img-social {
    width: 50vh;
  }
}
