.banner-home {
  background-position: center;
  background-image: url("../img/banner-nav.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  .banner-text {
    font-family: "Veneer";
    font-size: 15vh;
    text-align: center;
    padding-top: 15%;
    text-shadow: 1px 1px 2px rgb(95, 93, 93);
    color: $colortexto-2;
  }
}

.about {
  padding-top: 1%;
  background-color: $principal;
  background-position: right;
  background-size: cover;

  .titulo {
    h2 {
      color: $colortexto-1;
      font-family: "Glacial Indifference";
      font-weight: bold;
      font-size: 2rem;
    }
  }
  .texto {
    color: $colortexto-1;
    font-family: "Glacial Indifference";
    font-size: 1.2rem; 
    padding: 2%;
  }
}

.refcarta {
  background-image: url(../img/fondocarta.png);
  background-size: cover;
  background-position: initial;
  height: 800px;
  .texto {
    width: 50%;
    font-family: "Glacial Indifference";
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
  }
  .boton {
    .btn {
      font-size: 20px;
      font-family: "Glacial Indifference";
      font-weight: map-get($map: $estilosBoton, $key: negrita);
    }
  }
}

#anfitriones {
  background-color: $principal;
  background-size: cover;
  text-align: center;
  color: $rosita;
  font-family: "Glacial Indifference";

  .btn {
    font-family: "Glacial Indifference";
    font-size: 20px;
  }
}

.card {
  background-color: rgb(233, 242, 245);

  .card-title {
    text-align: center;
    color: $rosita;
    font-size: 25px;
    font-family: "Glacial Indifference";
  }
}

#refcontact {
  background-image: url(../img/fondo-contact.png);
  background-size: cover;
  background-position: initial;
  height: 50vh;

  h2 {
    color: $colortexto-2;
    font-family: "Glacial Indifference";
    width: 30%;
    padding-bottom: 2%;
    font-size: 30px;
  }
  .btn {
    font-size: 20px;
    font-family: "Glacial Indifference";
  }
}
