@media screen and (max-width: 576px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.082);
    .logo {
      height: 80px;
    }
  }
  .banner-home {
    .banner-text {
      font-size: 60px;
      padding-top: 50%;
    }
  }

  .about {
    .titulo {
      h3 {
        font-size: 1.8rem;
      }
    }
    .texto {
      font-size: 1.1rem;
      text-align: center;
      width: 75%;
    }
  }

  .refcarta {
    .texto {
      font-size: 25px;
      width: 75%;
    }
    .boton {
      .btn {
        font-size: 15px;
      }
    }
  }

  #anfitriones {
    h2 {
      font-weight: bold;
    }
    .card-group {
      .card-body {
        .card-title {
          font-size: 15px;
        }
      }
    }
    .btn {
      font-size: 15px;
    }
  }

  #refcontact {
    background-position: center;
    h2 {
      font-size: 20px;
      width: 50%;
    }
    .btn {
      font-size: 15px;
    }
  }

  .banner-michis h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .banner-contacto h1 {
    font-size: 50px;
    padding-top: 30%;
  }
  .banner-galeria {
    .text-galeria {
      font-size: 50px;
      padding-top: 30%;
    }
  }
  .banner-carta {
    .text-carta {
      font-size: 50px;
      padding-top: 30%;
    }
  }
  .img-carta {
    width: 100%;
    margin-left: 0;
  }
  .gifgaleria img {
    width: 90%;
  }
  .gifgaleria .texto-gif {
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 2rem;
  }

  .tab-carta {
    .nav-tabs {
      button {
        color: $rosita;
        font-family: "Glacial Indifference";
        font-size: 15px;
      }
    }
  }

  .tab-content {
    h3 {
      font-size: 15px;
      color: $celestito;
    }
    p {
      font-size: 15px;
      color: $colortexto-2;
    }
  }
}
