.banner-michis {
  background-image: url(../img/banner-michis.jfif);
  height: 500px;
  background-size: cover;

  background-position: center;
  text-align: center;
  padding-top: 10%;
  h1 {
    font-family: "Amatic SC", cursive;
    color: white;
    text-shadow: black;
    font-size: 70px;
  }
}

.sucursales h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: $colortexto-3;
}

.michicards .swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  }
}

.michicard {
  background-image: url(../img/bg-cards-michis.png);
  background-size: contain;
  .michicard-title {
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 40px;
    .michicard-text {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
